@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: all ease 0.4s;
}
a:hover {
  color: #aeaeae;
}

/* body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  place-content: center;
  display: grid;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 0;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: main;
  src: url('./fonts/HemingVariable/HemingVariable.ttf');
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html 
{
  overflow-x: hidden;
}


/* canvas
{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  z-index: 5000;
} */

#dacanvas
{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  z-index: 0;

}

/* .color{
  background-image: url('./assets/bg/7.png');
  background-color: #090707;
  ;
} */

.laptop{
}

.lapcont iframe {
  width: 100%;
  height: 100%;
}



.lapcont
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 262px;
  height: 190px;
  transform: translate(0.5%,0%);
} 

/* @media (max-width: 440px) {

  .lapcont
{
  transform: translateY(98px);
} 

} */

.on
{
  width: 10px;
  height: 10px;
  background-color: rgb(21, 202, 21);
  margin-left: 5px;
  border: transparent;
  border-radius: 2em;
}

#root
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }    
}
