
/*         ------------animations? */

/* fade in */
@keyframes fade-in {
  
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  }
  
  }

  @keyframes fade-in-2 {
  
    0% {
      opacity: 0;
    }
    21.8% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  }
  
  }
  
  @keyframes drop-in {
    
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
  }
  
  }


  /* ------ Header Animations (js) ------ */

  .primary-header.scrolled {
    background-color: var(--body-color); /* color after scrolling */
  }

