
/* ========== Responsive typography ==========
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
} */

.main {
  overflow: hidden; /* For animation */
  /* border: 1px solid green; */
  position: absolute;
  width: 100vw;


}

/*=============== HEADER & NAV ===============*/

.primary-header{ 

  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
  /* border: 1px solid red; */
  margin: var(--margin);
  padding: var(--padding);
  justify-content: space-between;

  animation: drop-in 3.18s ;

}

.primary-navigation{ 

  display: flex;
  gap: var(--gap, 5rem); 
  padding: var(--padding); 


}

.logo
{
  max-width: 161px;
}


/* -------------------------------------------- */

/* Navigation for mobile devices */


/* Show menu */


/* Change background header */


/*=============== HOME GRID ===============*/
.home
{

  height: 50vh;
  margin: var(--margin);
  /* border: 1px solid var(--first-color); */

  /* here is how to set up a grid */
  /* start here */
  display: grid;
  /* this is how may rows */
  grid-template-columns: 1fr 1fr;
  /* this is how many columns */
  grid-template-rows: 50px 1fr 1fr 1fr 100px;
  gap: 10px;
  padding: 10px;
  padding-top: 10rem;
  /* box-sizing: border-box; */

}

.home div {

  /* border: 1px solid black; */
}

.body-grid-1{


  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  /* this "pt * unit makes the text scalabe 
  when paired with vw. So, pt + vw = scalable text. */
  font-size: 150pt;
  font-size: 11vw;
  text-align: center;


  /* centering text in the div */
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fade-in-2 8.18s;

}

#title-clearheart
{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 4rem;
  transition: all 1.618s ease-in-out;
  /* color: rgb(255, 255, 255); */


}

@keyframes textShine {
  to {
    background-position: 200% center;
    
  }
}

#title-clearheart:hover
{
  transition: all 1.618s ease-in-out;
    
  background: linear-gradient(
    -25deg,
    #ffffff 0%,
    #e4e4e4 10%,
    #409DEE 40%,
    #f8a909 60%,
    #FFF27A 70%,
    #e7e7e7 88%,
    #ffffff 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: textShine 5s linear infinite;


}

.body-grid-2{

  /* centering text in the div */
  display: flex 0 0 50%;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 50pt;
  font-size: 2.4vh;

  padding-top: 8rem;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;


  animation: fade-in 6.18s;

  transition: all 0.618s ease-in-out;




}

.body-grid-2:hover
{
  color: var(--first-color);
  transition: all 0.618s ease-in-out;
}

.body-grid-3{

    /* centering text in the div */
    display: flex 0 0 50%;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 50pt;
    font-size: 2.4vh;

    padding-top: 8rem;

    grid-row-start: 2;
    grid-row-end: 2;


    animation: fade-in 6.18s;
    transition: all 0.618s ease-in-out;

}

.body-grid-3:hover
{
  color: var(--first-color);
  transition: all 0.618s ease-in-out;
}

.body-grid-4{

  /* centering text in the div */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 50pt;
  font-size: 2.4vh;

  padding-top: 3rem;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;

  animation: fade-in 6.18s;

}

#ctoday
{
  outline: 1px solid white;
  padding: 2rem;
  border-radius: 4rem;
  transition: all 0.618s ease-in-out;
}

#ctoday:hover
{
  background-color: var(--body-color);
  outline: 0px solid white;
  transition: all 0.618s ease-in-out;
}


/* ------------GAP */

.gap
{
  width: 100vw;
  height: 20vh;
}

/* --------------------------------- ABOUT ----------- */

.about
{

  margin: var(--margin);
  /* border: 1px solid var(--first-color); */

  gap: 10px;
  padding-bottom: 10%;

}

#big-about
{
  font-size: x-large;
}

.about div
{
}

.about-grid-title
{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 150pt;
  font-size: 11vw;
}

#about-grid-text
{
  justify-content: left;
  align-items: center;
  text-align: left;

  display: flex;
  flex-wrap: wrap;

  font-size: 15pt;
  font-size: 1.5vw;

  margin: 0;
  padding: 0;


}

#about-container
{
  outline: 1px solid white;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: var(--margin);
  padding: 2rem;
  transition: all 0.218s ease-in-out;

}

#about-container:hover
{
  outline: 0px solid var(--body-color);
  background-color: rgba(0, 0, 0, 0.099);
  transition: all 0.318s ease-in-out;

}

/* --------------- TEAM *-------------------------------------------*/ 



.team
{
  margin: var(--margin);
  padding: var(--padding);
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* border: 1px solid var(--first-color); */
  transform: translateY(2rem);
}

/* ----------------------------------------------------------- */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 760px) {


  .home
  {

    padding-top: 2rem;
    /* box-sizing: border-box; */

  }
  
  #about-grid-text
  {
    justify-content: left;
    align-items: center;
    text-align: left;

    display: flex;
    flex-wrap: wrap;

    font-size: 15pt;
    font-size: 2.5vw;

    margin: 0;
    padding: 0;

  }

  #about-container
{
  outline: 2px solid white;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1.2rem;
}

.team
{

  flex-wrap: wrap;

}


}


@media screen and (max-width: 500px) {

  #about-grid-text
  {
    justify-content: left;
    align-items: center;
    text-align: left;

    display: flex;
    flex-wrap: wrap;

    font-size: 15pt;
    font-size: 4.0vw;

    margin: 0;
    padding: 0;

  }

  .about
  {
    margin: 10px;
  }

}





/* For taller devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152) */