.about-section
{
    background-color: #4b3d2d;
    height:110vh;
}

.column-2-3-container 
{
    justify-content: center;
    place-content: center;
}

.pic
{
    outline: 2px solid #4b3d2d;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    background-image: url("../../../public/images/itwela-smile.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c1b49a;

    display: none;
}

@media (max-width: 1020px) {

    
    .pic
    {
        top: 1%;
        width: 10vw;
        height: 10vh;
        right: 10%;
    }

}

@media (max-width: 900px) {

    .about-section
{
    background-color: #4b3d2d;
}

.about-1-paragraph {
    font-size: 1em;
}

.about-1-ABOUT{
    font-size: 4em;
}

.pic
{
    display: none
}

.the-flex-text
{
    place-content: center
}


    
}

.column-1-about
{
    /* background-color: red;    */
}

.column-2-about
{
    border: 1px solid #c1b49a;
    border-radius: 10px;
    padding: 1em;
}

.column-3-about
{
    border: 1px solid #c1b49a;
    border-radius: 10px;
    padding: 1em;
}

.the-flex-text {
    font-size: calc(50px + 2vw); /* This will set a minimum font size of 10px and scale up based on the width of the viewport */
    text-align: center; /* This will center the text */
    width: 100%; /* This will make the text take up the full width of its container */
    word-wrap: break-word; /* This will prevent the text from overflowing its container */
}

@media (max-width: 600px) {

    .about-section
{
    background-color: #4b3d2d;
    height: 100vh;
}

.about-1-paragraph {
    font-size: 0.80em;
}

.about-1-ABOUT{
    font-size: 2em;
}

}
