.nav-close {
    position: absolute;
    right: 2em;
    top: 2em;
}



.overlay {
    background: #fffeff15;
    clip-path: circle(0%);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;



}



.menu {
    display: grid;
    text-align: center;
    // place-content: center;
    background: var(--white);
    overflow: hidden;

    // text-transform: uppercase;
    // min-height: 100vh; /* This line will make your navbar fill the entire vertical height of the screen */


}

.nav {
    display: grid;
    height: 10vh;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    transition: all 1s ease;




}

.n-cont{
    display: grid;
    align-items: center;

}





.menu-container {

    height: 100vh;
    opacity: 0;
    margin-top: 10vh;
    color: var(--d-green);
    text-transform: uppercase;
    // transform: translateY(61.8em);




    li a {
        display: block;

        padding: .2em 2em .4em;
        font-family: main;
        font-size: 1.118em;
        color: var(--d-green);
        margin-top: 2.0em;


        &:hover {
            outline: 1px solid var(--orange);
            border-radius: 2em;
            scale: 1.1;
        }


    }
}

.hello-category {
    font-size: 1.5em;


}



#close-bt {
    cursor: pointer;
    animation: hover 4s infinite ease-in-out;
    transition: all 2s ease-in-out;
    align-content: center;
    z-index: 101;

    &:hover {
        animation: hover 0.7s step-start;
    }
}



.hoverEffect {
    animation: hover 1s infinite;
}


.navbar-logo {
    position: absolute;
    width: 78px;
    outline: .618px solid var(--white);
    border-radius: 3.618em;
    cursor: pointer;
    // justify-self: center;
    top: 0;
    left: 0;
    margin: 20px;
    transition: all 0.1s step-end;
    animation: hover 10s ease-in-out infinite;
    z-index: 100;

    &:hover {
        scale: 1.3;
        margin: 3em;
        transform: translate(60%);
        outline: 0.618px solid var(--white);
        transition: all 0.61s ease-in-out;
    }
}

.social-container
{
    display: block;
    margin-top: 4.619vh;

}

.social-items
{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.social-items a
{
    color: var(--d-green);
}

@media screen and (max-height: 500px) {

    .menu {
        margin: 0;
        padding: 0;


        li a {
            margin-top: 0%;
        }
    }



}