*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}

.title {
    color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    font-size: 4rem;
    text-align: center;
    /*how to center a h1 tag*/
    text-shadow: 0 0 15px #515151;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -90%);
}

.subtitle{
    color: rgb(0, 0, 0);
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    text-align: center;

    /*how to center a h1 tag*/
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
}

@media screen and (max-width: 800px) {
    .subtitle {
        display: flex;
        z-index: 2;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 95.5%;
        transform: translate(-50%, -90%);
    }

    /*Explore About Contact */
    nav{
        color: rgb(255, 255, 255);
        z-index: 2;
        position: relative;
        padding: 4rem 3rem;
        display: flex;
        justify-content: space-between;
    }

    nav a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0 5%;
    }

    nav ul{
        list-style: none;
        display: flex;
        gap: 3rem;
    }

}



