#hero-page
{
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    position: relative;
}

.hero-wrapper {
    
    padding: var(--padding);
    display: grid;
    margin: var(--margin);
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: var(--min-height);
    color: var(--white);

    

}

.hero-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    color: var(--white);

}



#grid-column {
    padding: 10px;
    
    /* outline: 2px solid white; */
}

.text-block {
    text-align: left;
    margin: 1em;

}


@media screen and (max-width: 600px) {

    p {
        margin: 1em;
        padding: 0;
    }

    .text-block {
        margin: 1em;
    }

}