/* -------- BACKGROUND ----- */

#more-wrapper {
    padding: var(--padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    /* background-color: cadetblue; */

}

.more-1-wrapper
{
    margin-top: 3em;
}

.more-text-1 {
    position: absolute;
    place-content: center;
    top: 0;
    transform: translateY(60%);
    font-size: min(9.618vw, 7vw);
    font-family: outline;
}

#dropdown-text {
    font-family: secondary;
    display: block;
    font-size: min(1em, 3em);
    width: min(100%, 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    padding: 0;
    
}

.skills {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}


    


/* .more-1-wrapper::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 0;
    border-left: 0;
    top: -2.318vh;
    left: 50%;
    border-bottom-color: var(--white);
} */

/* ----------  IM CREATIVE ------------- */

.more-text-2 {
    position: absolute;
    display: block;
    top: 0;
    font-size: min(9.618vw, 7vw);
    font-family: outline;
}


.skills {
    grid-column: 2;
}




/* --------- */




.m-a 
{
    color: var(--white);
}

.m-a-1 
{
    color: var(--orange);
    cursor: cell;
    z-index: 1;

}

.m-a-2 
{
    color: var(--green);
    z-index: 1;
    cursor: cell;

}

/* --------------------------- */

.more-2-cont {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}



.more-2-wrapper::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 0;
    border-left: 0;
    top: -2.318vh;
    left: 50%;
    border-bottom-color: var(--orange);
}

.more-text-2 {
    color: var(--d-green);
}

#more-text-2
{
    font-size: 10.618vw;
}

#more-text-3
{
    font-size: 10.618vw;
}

.more-3-wrapper 
{
    position: relative;
    background: var(--green);
}

.more-text-3 
{
    color: var(--white);    
}

.more-3-wrapper::after 
{
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 0;
    border-left: 0;
    top: -2.318vh;
    left: 50%;
    border-bottom-color: var(--green);
}

.more-3-cont 
{
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
/* ----------- */

