
#dacanvas {
  place-content: center;
  display: flex;
  position: absolute;
  z-index: 1;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;


  /* background-image: url(../public/cave/cav10.jfif);
  background-size:contain;
  background-repeat: no-repeat;
  background-color: var(--brown);
  background-blend-mode:multiply ; */
}


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: main;
  font-weight:900;
  src: url("./fonts/CroMagnumShadow-WyE59.ttf");

}
@font-face {
  font-family: secondary;
  src: url("./fonts/Keiner-Bold.otf");
}

:root
{
  --white: #fff6d6;
  --brown: #782a1a;
}

.dd
{
  color: #fff6d6

}



body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--white);
  font-family: main;

  
  /* background-color: var(--brown); */
}
/* @media screen and (max-width: 320px) {
  #canvas-container {
    display: flex
  }
}    */
section
{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  background-image: url(../public/cave/cavetxt.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: var(--brown);
  background-blend-mode:multiply ;

}

/* 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: main, sans-serif;
  line-height: 2.618;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--green); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --min-width: 300px
  --max-width: 1220px

  --min-height: 400px
  --max-height: 900px

  --font-size-big: 
  --font-size-medium: 
  --font-size-small: 

   variables 
  --gap: 1.618rem;
  --margin: 0.618rem;
  --big-gap: 3.618rem;
  --padding: 0.18em;
  --big-padding: 1.618rem;

  --border-r: 2.618rem;

  --orange: #f97b22;
  --white: #e6d19c;
  --green: #9ca777;
  --d-green: #7c9070;
}

.dflex
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#root
{

  position: absolute;
  padding: 0;  
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0d0302;
}


#canvas-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: var(--margin);
  width: 30vw;
  height: 100%;
}


 @font-face {
  font-family: main;
  src: url();
} 

 @font-face {
  font-family: secondary;
  src: url();
} 

@font-face {
  font-family: main;
  src: url("./fonts/Keiner-Bold.otf");

}

@font-face {
  font-family: secondary;
  src: url("./fonts/DelaGothicOne-Regular.ttf");

}



a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;

}
a:hover {

  color: #dddddd;

}

ul {
  list-style: none;
}

li {
  list-style: none;

}

body, html {
  margin: 0;
  padding: 0;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
 outline: 1px solid #dddddd; 


}


section
{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  outline: 1px solid #dddddd; 
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
 border-color: #646cff; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #2c2c2e;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


 */

/*  ----- */
