@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.618;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252320;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ------ variables */
  --gap: 1.618rem;
  --margin: 0.618rem;
  --big-gap: 3.618rem;
  --padding: 0.618em;
  --big-padding: 3.618rem;

  --border-r: 2.618rem;
}

.dflex
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#root
{

  padding: 0;  
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}


/* @font-face {
  font-family: main;
  src: url();
} */
/* @font-face {
  font-family: secondary;
  src: url();
} */

@font-face {
  font-family: main;
  src: url("./fonts/DelaGothicOne-Regular.ttf");

}

@font-face {
  font-family: secondary;
  src: url("./fonts/Comfortaa-VariableFont_wght.ttf");

}


a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;

}
a:hover {

  color: #dddddd;

}

ul {
  list-style: none;
}

li {
  list-style: none;

}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* outline: 1px solid #dddddd; */


}


section
{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* outline: 1px solid #dddddd; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #2c2c2e;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}