.three {
    text-align: center;
    z-index: 3;

}

.threesubtitle {
    font-size: 50px;
    z-index: 3;

}

.four {
    padding-top: 3%;
    text-align: center;
    z-index: 3;

}

.five {
    padding-top: 10%;
    text-align: center;
    z-index: 3;
    
}

.six {
    text-align: center;
    z-index: 3;



}

.seven {
    font-size: 50px;
    padding-bottom: 100px;
    z-index: 3;

}

@media screen and (max-width: 900px){
    
    .three {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        text-align: center;
            z-index: 3;


    }
}

