.three {
    font-size: 100px;
    text-align: center;
}

.four {
    font-size: 30px;
    padding-top: 3%;
    text-align: center;
}

.five {
    font-size: 30px;
    padding-top: 10%;
    text-align: center;
}