.hero-wrapper
{
    width: 100vw;
}

.hero-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

#grid-column
{
    background-color: #000000;
    padding: 10px;
    
}

