.left-btn, .right-btn
{

    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all ease 0.6s;
    animation-delay: 10s; /* Delay the start of the animation by 10 seconds */
    animation: bounce 2s infinite ;
}



.current-bottle-box{
    box-shadow: 0px 10px #ff0095;
    transition: all ease-out 0.2s;
    cursor: pointer;
}

.current-bottle-box:hover{
    box-shadow: 0px 3px #ff0095;
    transform: scale(1.1);
}

#the-bottle
{
  animation: float 2s ease infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  }

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-7.5px);
  }
  30% {
    transform: translateY(-5px);
  }
}


  .card-1{
    /* box-shadow: 0px 10px #ff0095; */
  }

  .scroller-wrapper
  {
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
  }

  .circle-mask-white{

    }

/* help with video wierdness */

.video-bg{
    scale: 1;
}

.wild
{
   font-size: clamp(60px,7vw,446px);
   pointer-events: none;
}

.all-prod
{
  font-size: clamp(30px,3vw,246px);
}
@media screen and (max-width: 1300px) {

    .video-bg{
        scale: 2;
    }

    .back-img{
      scale: 1.5;
  }
    
}

@media screen and (max-width: 700px) {

    .video-bg{
        scale: 2.8;
    }

    .back-img{
      scale: 2.5;
  }

  .heart-1, .heart-2
  {
    scale: 1.4;
  }
    
}

@media screen and (max-width: 400px) {

    .video-bg{
        scale: 4;
    }
    
}

.infinite-scroll-1, .infinite-scroll-2, .infinite-scroll-3, .infinite-scroll-4, .infinite-scroll-5{

pointer-events: none;

}

.heart-2
{
  transform: scaleX(-1) rotate(-50deg);
}

.heart-1
{
  transform: rotate(-50deg);
}

.back-img{
}