aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autogen==1.0.16
autopep8==2.0.4
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
boltons @ file:///C:/ci_311/boltons_1677729932371/work
Bottleneck @ file:///C:/ci_311/bottleneck_1676500016583/work
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.1
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi    
cffi @ file:///C:/ci_311/cffi_1676423759166/work
charset-normalizer==3.2.0
click==8.1.7
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1674681909598/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm==0.1.3
conda @ file:///C:/b/abs_3eb7ewgq2c/croot/conda_1694545461647/work
conda-content-trust @ file:///C:/ci_311/conda-content-trust_1676467587370/work    
conda-libmamba-solver @ file:///C:/b/abs_5a9xvt2a3k/croot/conda-libmamba-solver_1685032355900/work/src
conda-package-handling @ file:///C:/b/abs_ce4_vcfd0y/croot/conda-package-handling_1685024800103/work
conda_package_streaming @ file:///C:/b/abs_88a7k_wmm1/croot/conda-package-streaming_1685019697115/work
config==0.5.1
contourpy @ file:///C:/ci_311/contourpy_1676431756017/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
cryptography @ file:///C:/b/abs_b28tzldafl/croot/cryptography_1686613103834/work  
cssselect==1.2.0
customtkinter==5.2.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
darkdetect==0.8.0
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
diskcache==5.6.3
docopt==0.6.2
docutils==0.20.1
duckdb==0.8.1
EasyProcess==1.1
entrypoint2==1.1
entrypoints==0.4
ephem @ file:///C:/ci_311/ephem_1676440784392/work
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fake-useragent==1.2.1
Faker==19.6.2
fastjsonschema==2.18.0
favicon==0.7.0
filelock @ file:///C:/ci_311/filelock_1676427284139/work
FLAML==2.1.1
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.36
google-api-core==2.11.1
google-auth==2.23.0
google-cloud-vision==3.4.4
googleapis-common-protos==1.60.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.58.0
grpcio-status==1.58.0
h11==0.14.0
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1693855911699/work
htbuilder==0.6.2
htmlmin==0.1.12
idna @ file:///C:/ci_311/idna_1676424932545/work
ImageHash==4.3.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1691408075105/work
ipykernel==6.25.0
ipython @ file:///D:/bld/ipython_1685727936079/work
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
jaraco.classes==3.3.0
jedi==0.18.2
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
joblib==1.1.1
json5==0.9.14
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work
jupyter_core @ file:///D:/bld/jupyter_core_1686775880418/work
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keyboard==0.13.5
keyring==24.2.0
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
libmambapy @ file:///C:/b/abs_f0tnqlkcbn/croot/mamba-split_1685993165748/work/libmambapy
LunarCalendar==0.0.9
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
missingno==0.5.2
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
mss==9.0.1
multidict==6.0.4
multimethod==1.9.1
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nh3==0.2.14
notebook==7.0.0
notebook_shim==0.2.3
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy==1.25.1
openai==0.28.0
opencv-python==4.8.0.76
openpyxl==3.1.2
outcome==1.2.0
overrides==7.3.1
packaging==23.1
pandas @ file:///C:/miniconda3/conda-bld/pandas_1692298018988/work
pandas-profiling==3.2.0
pandocfilters==1.5.0
parse==1.19.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
phik==0.12.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==3.9.1
playwright==1.38.0
plotly==5.17.0
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
ply==3.11
prometheus-client==0.17.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
prophet @ file:///C:/b/abs_dfd47cfyol/croot/prophet_1689930391979/work
proto-plus==1.22.3
protobuf==4.24.3
psutil==5.9.5
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautogen==0.1.6
PyAutoGUI==0.9.54
pycodestyle==2.11.0
pycosat @ file:///C:/ci_311/pycosat_1676438455539/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.0
pyee==9.0.4
PyGetWindow==0.0.9
Pygments==2.15.1
pygwalker==0.3.6
pymdown-extensions==10.3
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1670868433998/work
Pympler==1.0.1
PyMsgBox==1.0.9
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work        
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
pyperclip==1.8.2
pyppeteer==1.0.2
PyQt5==5.15.7
PyQt5-sip @ file:///C:/ci_311/pyqt-split_1676428895938/work/pyqt_sip
pyquery==2.0.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySimpleGUI==4.60.5
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytesseract==0.3.10
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==2.0.7
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.11
PyYAML==6.0.1
pyzmq @ file:///C:/b/abs_655zk4a3s8/croot/pyzmq_1686601465034/work
qtconsole==5.4.3
QtPy==2.3.1
readme-renderer==42.0
referencing==0.30.0
requests==2.31.0
requests-html==0.10.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.5.3
rpds-py==0.9.2
rsa==4.9
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work  
scipy==1.11.1
seaborn==0.12.2
selenium==4.12.0
Send2Trash==1.8.2
sip @ file:///C:/ci_311/sip_1676427825172/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlglot==18.5.1
st-annotated-text==4.0.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
streamlit==1.26.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.2
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy @ file:///C:/ci_311_rebuilds/sympy_1679009400182/work
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
termcolor==2.3.0
terminado==0.17.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tinycss2==1.2.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///C:/ci_311/toolz_1676431406517/work
torch @ file:///C:/b/abs_abjetg6_iu/croot/pytorch_1686932924616/work
torchviz==0.0.2
tornado @ file:///C:/b/abs_61jhmrrua1/croot/tornado_1690848767317/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
tradingview==0.0.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
trio==0.22.2
trio-websocket==0.10.4
twine==4.0.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==4.3.1
uri-template==1.3.0
urllib3==1.26.16
validators==0.22.0
vega-datasets==0.9.0
visions==0.7.4
w3lib==2.1.2
watchdog==3.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.4
widgetsnbextension==4.0.8
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wsproto==1.2.0
xgboost==2.0.0
yarl==1.9.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work  
zstandard==0.19.0