.status
{

    border-radius: 1em;
    padding: 10px;
    width: fit-content;
    background-color: #ffffff;
    box-shadow:
    0 0 6px 3px #ffffff11,  /* inner white */
    0 0 10px 6px rgba(185, 185, 185, 0.009), /* middle magenta */
    0 0 14px 9px rgba(159, 170, 242, 0.048); /* outer cyan */

}

.status-inner
{
    overflow-y: scroll;
    height: 10em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }

.on{
    animation: blink 3s infinite;
    opacity: 100%;
}

@keyframes blink {

    0% {
        opacity: 20%;
    }

    69% {
        opacity: 100%;
    }

    100% {
        opacity: 20%
    }
    
}