.status
{

    border-radius: 1em;
    padding: 10px;
    width: fit-content;

}

.status-inner
{
    overflow-y: scroll;
    height: 10em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }

.on{
    animation: blink 3s infinite;
}

@keyframes blink {

    0% {
        opacity: 20%;
    }

    69% {
        opacity: 100%;
    }

    100% {
        opacity: 20%
    }
    
}