#root {
  margin: 0 auto;
  height: auto;
  text-align: center;
  position: relative;
  padding: 2rem 0 0 0 ;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

