@tailwind base;
@tailwind components;
@tailwind utilities;

/* wide font */
@font-face {
  font-family: wide;
  src: url("./fonts/SAAtlanticOcean.otf")
} 

@font-face {
  font-family: main;
  src: url("./fonts/fonttwo/Glancyr-variable-vf.ttf")
} 

::-webkit-scrollbar
{
  width: 0vw;
}


body {
  margin: 0;
  height: 100vh;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

section{
  height: 100vh;
  display: flex;
  width: 100vw;
  place-items: center;
}

html
{
  background-color: '#c1b49a' !important;
}

